/form method="post" action="mailto:jannike.rivelsrud@elev.it-gymnasiet.se" enctype="text/plain"
/  input type="text" name="namn" placeholder="Namn"
/  input type="text" name="adress" placeholder="Adress"
/  input type="text" name="nummer" placeholder="Nummer"
/  input type="text" name="antal" placeholder="Antal"
/  button type="submit" Skicka Beställning
  /heroku use this you iddits!