

div.stat
div.stat
div.stat

form action="/newvalue" method="post"
  input type="text" name="value" placeholder="Value"
  button type="submit" Hej

div id="foo" data-lat=@value

script type="text/javascript" src="/d3.js"
